# 01 Importing Libraries.

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

# 02 Importing Dataframes.

### Importing Airbnb data sets from "Inside Airbnb":

#### "listings.csv.gz", detailed listings data from Mexico City updated on June/21/2022.
#### "calendar.csv.gz", detailed calendar data from Mexico City updated on June/21/2022.
#### "reviews.csv.gz", detaield reviews data from Mexico City updated on June/21/2022.

### Creating path.

In [2]:
# Creaitng path

path = r'/Users/david/Desktop/CF/Data Immersion/Achievement 6 - Advnaced Analytics & Dashboard Design'

In [3]:
# Check path

path

'/Users/david/Desktop/CF/Data Immersion/Achievement 6 - Advnaced Analytics & Dashboard Design'

## 02.1 Importing Airbnb Listings--head, shape, cols. list and info.

In [7]:
# Import "listings.csv.gz" data set as 'listings' dataframe.

bnblist = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'listings.csv'))

In [8]:
bnblist.head(10)

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,52390579,https://www.airbnb.com/rooms/52390579,20220621060651,2022-06-21,"Casa en privada con vigilancia, estacionamiento.",Relájate en este alojamiento donde la tranquil...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,424060909,https://www.airbnb.com/users/show/424060909,...,NaN,NaN,NaN,NaN,t,1,0,1,0,NaN
1,35797,https://www.airbnb.com/rooms/35797,20220621060651,2022-06-21,Villa Dante,"Dentro de Villa un estudio de arte con futon, ...","Centro comercial Santa Fe, parque interlomas y...",https://a0.muscache.com/pictures/f395ab78-1185...,153786,https://www.airbnb.com/users/show/153786,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
2,15511977,https://www.airbnb.com/rooms/15511977,20220621060651,2022-06-21,La casa de Abraham,"Hermosa habitación amplia ,con baño con Tina ,...","Zona residencial privilegiada, muy cercana a P...",https://a0.muscache.com/pictures/505bfcbb-2532...,93364273,https://www.airbnb.com/users/show/93364273,...,5.00,5.00,5.00,NaN,t,1,0,1,0,0.02
3,44616,https://www.airbnb.com/rooms/44616,20220621060651,2022-06-22,CONDESA HAUS B&B,A new concept of hosting in mexico through a b...,NaN,https://a0.muscache.com/pictures/251410/ec75fe...,196253,https://www.airbnb.com/users/show/196253,...,4.75,4.98,4.47,NaN,f,11,2,2,0,0.43
4,34776449,https://www.airbnb.com/rooms/34776449,20220621060651,2022-06-21,★ The attic ★ Panoramic garden 10 min CitiBanamex,Relax in our modern penthouse and soak in brea...,This is a great neighborhood known to be one o...,https://a0.muscache.com/pictures/fba2ef8b-e91a...,2954577,https://www.airbnb.com/users/show/2954577,...,5.00,5.00,4.80,NaN,t,4,1,3,0,0.14
5,56074,https://www.airbnb.com/rooms/56074,20220621060651,2022-06-21,Great space in historical San Rafael,This great apartment is located in one of the ...,Very traditional neighborhood with all service...,https://a0.muscache.com/pictures/3005118/60dac...,265650,https://www.airbnb.com/users/show/265650,...,4.93,4.74,4.78,NaN,f,2,2,0,0,0.53
6,58955,https://www.airbnb.com/rooms/58955,20220621060651,2022-06-22,Entire beautiful duplex in la Roma,"This beautiful apartment is centrally located,...",La Roma Norte is a beautiful bohemian and arts...,https://a0.muscache.com/pictures/83292812/1fe9...,282620,https://www.airbnb.com/users/show/282620,...,5.00,5.00,4.91,NaN,f,1,1,0,0,0.35
7,826691,https://www.airbnb.com/rooms/826691,20220621060651,2022-06-22,Suite 7 - Suites Condesa Mexico,"Fully equipped Suite at Condesa neighborhood, ...",During your stay the most important thing is c...,https://a0.muscache.com/pictures/12196718/68e7...,4326326,https://www.airbnb.com/users/show/4326326,...,4.89,4.94,4.59,NaN,f,6,6,0,0,0.17
8,45767104,https://www.airbnb.com/rooms/45767104,20220621060651,2022-06-21,BONITO DEPARTAMENTO NUEVO LOMAS DE TECAMACHALCO,"Bonito departamento nuevo, excelente ubicación...",NaN,https://a0.muscache.com/pictures/226eac26-99ad...,371036285,https://www.airbnb.com/users/show/371036285,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
9,826760,https://www.airbnb.com/rooms/826760,20220621060651,2022-06-22,Suite 12 - Suites Condesa Mexico,"One bedroom suite with double bed, 1 closet, 1...",NaN,https://a0.muscache.com/pictures/12196944/b272...,4326326,https://www.airbnb.com/users/show/4326326,...,4.94,4.94,4.67,NaN,f,6,6,0,0,0.15

In [9]:
bnblist.shape

(21669, 74)

In [19]:
list(bnblist.columns)

['id',
 'listing_url',
 'scrape_id',
 'last_scraped',
 'name',
 'description',
 'neighborhood_overview',
 'picture_url',
 'host_id',
 'host_url',
 'host_name',
 'host_since',
 'host_location',
 'host_about',
 'host_response_time',
 'host_response_rate',
 'host_acceptance_rate',
 'host_is_superhost',
 'host_thumbnail_url',
 'host_picture_url',
 'host_neighbourhood',
 'host_listings_count',
 'host_total_listings_count',
 'host_verifications',
 'host_has_profile_pic',
 'host_identity_verified',
 'neighbourhood',
 'neighbourhood_cleansed',
 'neighbourhood_group_cleansed',
 'latitude',
 'longitude',
 'property_type',
 'room_type',
 'accommodates',
 'bathrooms',
 'bathrooms_text',
 'bedrooms',
 'beds',
 'amenities',
 'price',
 'minimum_nights',
 'maximum_nights',
 'minimum_minimum_nights',
 'maximum_minimum_nights',
 'minimum_maximum_nights',
 'maximum_maximum_nights',
 'minimum_nights_avg_ntm',
 'maximum_nights_avg_ntm',
 'calendar_updated',
 'has_availability',
 'availability_30',
 'availability_60',
 'availability_90',
 'availability_365',
 'calendar_last_scraped',
 'number_of_reviews',
 'number_of_reviews_ltm',
 'number_of_reviews_l30d',
 'first_review',
 'last_review',
 'review_scores_rating',
 'review_scores_accuracy',
 'review_scores_cleanliness',
 'review_scores_checkin',
 'review_scores_communication',
 'review_scores_location',
 'review_scores_value',
 'license',
 'instant_bookable',
 'calculated_host_listings_count',
 'calculated_host_listings_count_entire_homes',
 'calculated_host_listings_count_private_rooms',
 'calculated_host_listings_count_shared_rooms',
 'reviews_per_month']

In [27]:
bnblist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21669 entries, 0 to 21668
Data columns (total 74 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            21669 non-null  int64
 1   listing_url                                   21669 non-null  object
 2   scrape_id                                     21669 non-null  int64
 3   last_scraped                                  21669 non-null  object
 4   name                                          21666 non-null  object
 5   description                                   20624 non-null  object
 6   neighborhood_overview                         13922 non-null  object
 7   picture_url                                   21669 non-null  object
 8   host_id                                       21669 non-null  int64
 9   host_url                                      21669 non-null  object
 10  host_name                                     21669 non-null  object
 11  host_since                                    21669 non-null  object
 12  host_location                                 21623 non-null  object
 13  host_about                                    12124 non-null  object
 14  host_response_time                            18736 non-null  object
 15  host_response_rate                            18736 non-null  object
 16  host_acceptance_rate                          19102 non-null  object
 17  host_is_superhost                             21669 non-null  object
 18  host_thumbnail_url                            21669 non-null  object
 19  host_picture_url                              21669 non-null  object
 20  host_neighbourhood                            10711 non-null  object
 21  host_listings_count                           21669 non-null  int64
 22  host_total_listings_count                     21669 non-null  int64
 23  host_verifications                            21669 non-null  object
 24  host_has_profile_pic                          21669 non-null  object
 25  host_identity_verified                        21669 non-null  object
 26  neighbourhood                                 13922 non-null  object
 27  neighbourhood_cleansed                        21669 non-null  object
 28  neighbourhood_group_cleansed                  0 non-null      float64
 29  latitude                                      21669 non-null  float64
 30  longitude                                     21669 non-null  float64
 31  property_type                                 21669 non-null  object
 32  room_type                                     21669 non-null  object
 33  accommodates                                  21669 non-null  int64
 34  bathrooms                                     0 non-null      float64
 35  bathrooms_text                                21617 non-null  object
 36  bedrooms                                      21000 non-null  float64
 37  beds                                          21272 non-null  float64
 38  amenities                                     21669 non-null  object
 39  price                                         21669 non-null  object
 40  minimum_nights                                21669 non-null  int64
 41  maximum_nights                                21669 non-null  int64
 42  minimum_minimum_nights                        21668 non-null  float64
 43  maximum_minimum_nights                        21668 non-null  float64
 44  minimum_maximum_nights                        21668 non-null  float64
 45  maximum_maximum_nights                        21668 non-null  float64
 46  minimum_nights_avg_ntm                        21668 non-null  float64
 47  maximum_nights_avg_ntm                        21668 non-null  float64
 48  calendar_updated                              0 non-null      float64
 49  has_availability                              21669 non-null  object
 50  availability_30                               21669 non-null  int64
 51  availability_60                               21669 non-null  int64
 52  availability_90                               21669 non-null  int64
 53  availability_365                              21669 non-null  int64
 54  calendar_last_scraped                         21669 non-null  object
 55  number_of_reviews                             21669 non-null  int64
 56  number_of_reviews_ltm                         21669 non-null  int64
 57  number_of_reviews_l30d                        21669 non-null  int64
 58  first_review                                  17679 non-null  object
 59  last_review                                   17679 non-null  object
 60  review_scores_rating                          17679 non-null  float64
 61  review_scores_accuracy                        17579 non-null  float64
 62  review_scores_cleanliness                     17579 non-null  float64
 63  review_scores_checkin                         17578 non-null  float64
 64  review_scores_communication                   17579 non-null  float64
 65  review_scores_location                        17577 non-null  float64
 66  review_scores_value                           17578 non-null  float64
 67  license                                       0 non-null      float64
 68  instant_bookable                              21669 non-null  object
 69  calculated_host_listings_count                21669 non-null  int64
 70  calculated_host_listings_count_entire_homes   21669 non-null  int64
 71  calculated_host_listings_count_private_rooms  21669 non-null  int64
 72  calculated_host_listings_count_shared_rooms   21669 non-null  int64
 73  reviews_per_month                             17679 non-null  float64
dtypes: float64(22), int64(19), object(33)
memory usage: 12.2+ MB

## 02.2 Importing Bookings--head, shape, cols. lsit, and info.

In [10]:
bnbcal = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'calendar.csv'))

In [11]:
bnbcal.head(10)

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,52390579,2022-06-21,t,$752.00,$752.00,1.0,365.0
1,52390579,2022-06-22,t,$752.00,$752.00,1.0,365.0
2,52390579,2022-06-23,t,$752.00,$752.00,1.0,365.0
3,52390579,2022-06-24,t,$752.00,$752.00,1.0,365.0
4,52390579,2022-06-25,t,$752.00,$752.00,1.0,365.0
5,52390579,2022-06-26,t,$752.00,$752.00,1.0,365.0
6,52390579,2022-06-27,t,$752.00,$752.00,1.0,365.0
7,52390579,2022-06-28,t,$752.00,$752.00,1.0,365.0
8,52390579,2022-06-29,t,$752.00,$752.00,1.0,365.0
9,52390579,2022-06-30,t,$752.00,$752.00,1.0,365.0

In [12]:
bnbcal.shape

(7908821, 7)

In [25]:
list(bnbcal.columns)

['listing_id',
 'date',
 'available',
 'price',
 'adjusted_price',
 'minimum_nights',
 'maximum_nights']

In [28]:
bnbcal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7908821 entries, 0 to 7908820
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   date            object
 2   available       object
 3   price           object
 4   adjusted_price  object
 5   minimum_nights  float64
 6   maximum_nights  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 422.4+ MB

## 02.3 Importing Reviews--head, shape, cols. lsit, and info.

In [13]:
bnbrevs = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'reviews.csv'))

In [14]:
bnbrevs.head(10)

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,15511977,244826501,2018-03-19,173634627,Cecy,Muy acogedor y una vista preciosa del amanecer!
1,826691,8301723,2013-10-24,2048424,Lyle,Rodrigo is a really nice man. He was a great h...
2,826691,8396411,2013-10-28,3928696,Brian,"Soild stay! Rodrigo seemed like a good guy, bu..."
3,826691,19868762,2014-09-20,11291059,Andrea,Nuevamente Rodrigo nos alquilo el departamento...
4,826691,25550391,2015-01-19,12742880,Maria,Fue nuestra mejor desición hospedarnos aqui; R...
5,826691,27614557,2015-03-08,24134536,Pierre,Rodrigo vive en el mismo edificio y es muy dis...
6,826691,70120503,2016-04-16,1336118,Luis,Excelente servicio y fabulosa ubicación.
7,826691,71230954,2016-04-24,25931929,Juan,"Todo excelente, el departamento perfecto muy b..."
8,826691,97597998,2016-08-28,23984148,Jason,Host\r<br/>Rodrigo is a great host. He is reli...
9,826691,104681556,2016-09-27,31349947,Sagar,"We stayed in suite 7 for the month of Sept, an..."

In [15]:
bnbrevs.shape

(684665, 6)

In [26]:
list(bnbrevs.columns)

['listing_id', 'id', 'date', 'reviewer_id', 'reviewer_name', 'comments']

In [29]:
bnbrevs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 684665 entries, 0 to 684664
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   listing_id     684665 non-null  int64
 1   id             684665 non-null  int64
 2   date           684665 non-null  object
 3   reviewer_id    684665 non-null  int64
 4   reviewer_name  684663 non-null  object
 5   comments       684606 non-null  object
dtypes: int64(3), object(3)
memory usage: 31.3+ MB

# 03 Data Wrangling.

## 03.1 Dropping varibales.

## 03.1.1 'bnblist' dataframe.

In [72]:
# Dropping 'bnblist' columns

bnblist = bnblist.drop(columns = ['description',
                                  'host_total_listings_count', 
                                  'neighbourhood',
                                  'neighbourhood_group_cleansed',
                                  'property_type','bathrooms', 
                                  'availability_30',
                                  'availability_60',
                                  'availability_90',
                                  'review_scores_value', 
                                  'calculated_host_listings_count'])

#### A total of 47 columns were dropped; dropping happened in two different times in the same cell, therefore, the cell above only has teh coulumns dropped in the second time.
#### In the cell below, a final column is being dropped from 'bnblist'

In [76]:
bnblist = bnblist.drop(columns = ['neighborhood_overview'])

In [97]:
bnblist = bnblist.drop(columns = ['host_neighbourhood'])

In [98]:
bnblist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21669 entries, 0 to 21668
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      21669 non-null  int64
 1   listing_url             21669 non-null  object
 2   host_id                 21669 non-null  int64
 3   host_url                21669 non-null  object
 4   host_name               21669 non-null  object
 5   host_since              21669 non-null  object
 6   host_acceptance_rate    19102 non-null  object
 7   host_is_superhost       21669 non-null  object
 8   host_listings_count     21669 non-null  int64
 9   host_identity_verified  21669 non-null  object
 10  latitude                21669 non-null  float64
 11  longitude               21669 non-null  float64
 12  room_type               21669 non-null  object
 13  accommodates            21669 non-null  int64
 14  bedrooms                21000 non-null  float64
 15  price                   21669 non-null  object
 16  minimum_nights          21669 non-null  int64
 17  maximum_nights          21669 non-null  int64
 18  has_availability        21669 non-null  object
 19  availability_365        21669 non-null  int64
 20  number_of_reviews       21669 non-null  int64
 21  first_review            17679 non-null  object
 22  last_review             17679 non-null  object
 23  review_scores_rating    17679 non-null  float64
 24  reviews_per_month       17679 non-null  float64
dtypes: float64(5), int64(8), object(12)
memory usage: 4.1+ MB

In [99]:
print(bnblist['has_availability'])

0        t
1        t
2        t
3        t
4        t
        ..
21664    t
21665    t
21666    t
21667    t
21668    t
Name: has_availability, Length: 21669, dtype: object

In [95]:
bnblist.head(5)

,id,listing_url,host_id,host_url,host_name,host_since,host_acceptance_rate,host_is_superhost,host_neighbourhood,host_listings_count,...,price,minimum_nights,maximum_nights,has_availability,availability_365,number_of_reviews,first_review,last_review,review_scores_rating,reviews_per_month
0,52390579,https://www.airbnb.com/rooms/52390579,424060909,https://www.airbnb.com/users/show/424060909,Maria Carmen Marta,2021-09-21,NaN,f,NaN,2,...,$752.00,1,365,t,365,0,NaN,NaN,NaN,NaN
1,35797,https://www.airbnb.com/rooms/35797,153786,https://www.airbnb.com/users/show/153786,Dici,2010-06-28,NaN,f,NaN,2,...,"$4,056.00",1,7,t,363,0,NaN,NaN,NaN,NaN
2,15511977,https://www.airbnb.com/rooms/15511977,93364273,https://www.airbnb.com/users/show/93364273,Abraham,2016-09-03,NaN,f,NaN,2,...,$800.00,1,1125,t,179,1,2018-03-19,2018-03-19,5.00,0.02
3,44616,https://www.airbnb.com/rooms/44616,196253,https://www.airbnb.com/users/show/196253,Condesa Haus Bed & Breakfast CDMX,2010-08-09,66%,f,Condesa,9,...,"$18,000.00",1,365,t,347,56,2011-11-09,2022-06-05,4.59,0.43
4,34776449,https://www.airbnb.com/rooms/34776449,2954577,https://www.airbnb.com/users/show/2954577,Lazaro Alejandro,2012-07-16,100%,t,NaN,3,...,"$1,779.00",1,30,t,222,5,2019-07-04,2022-03-14,5.00,0.14

In [91]:
 bnblist = bnblist.drop(columns = ['neighbourhood_cleansed'])

In [93]:
bnblist = bnblist.drop(columns = ['host_location'])

## 03.1.2 'bnbcal' dataframe.

In [80]:
bnbcal = bnbcal.drop(columns = ['available',
                                'price',
                               'adjusted_price',
                               'minimum_nights',
                               'maximum_nights'])

In [81]:
bnbcal.head(5)

   listing_id        date
0    52390579  2022-06-21
1    52390579  2022-06-22
2    52390579  2022-06-23
3    52390579  2022-06-24
4    52390579  2022-06-25

In [82]:
bnbcal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7908821 entries, 0 to 7908820
Data columns (total 2 columns):
 #   Column      Dtype
---  ------      -----
 0   listing_id  int64
 1   date        object
dtypes: int64(1), object(1)
memory usage: 120.7+ MB

## 03.1.3 'bnbrevs' dataframe.

In [84]:
bnbrevs = bnbrevs.drop(columns = ['reviewer_id',
                                 'reviewer_name',
                                 'comments'])

In [85]:
bnbrevs.head(5)

   listing_id         id        date
0    15511977  244826501  2018-03-19
1      826691    8301723  2013-10-24
2      826691    8396411  2013-10-28
3      826691   19868762  2014-09-20
4      826691   25550391  2015-01-19

In [87]:
bnbrevs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 684665 entries, 0 to 684664
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   listing_id  684665 non-null  int64
 1   id          684665 non-null  int64
 2   date        684665 non-null  object
dtypes: int64(2), object(1)
memory usage: 15.7+ MB

## 03.2 Renaming variables.

## 03.2.1 'bnblist' dataframe.

In [109]:
bnblist = bnblist.rename(columns = {'id' : 'listing_id',
                                    'host_is_superhost' : 'superhost',
                                    'host_acceptance_rate' : 'acceptance_rate',
                                    'host_listings_counts' : 'listings_count',
                                    'minimum_nights' : 'min_nights',
                                    'maximum_nights' : 'max_nights',
                                    'number_of_reviews' : 'revs_num',
                                    'first_review' : 'first_rev',
                                    'last_review' : 'last_rev',
                                    'review_score_rating' : 'rev_rating'})

bnblist.info()

## 03.2.2 'bnbcal' dataframe.

In [113]:
bnbcal = bnbcal.rename(columns = {'date' : 'booking_date'})

In [114]:
bnbcal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7908821 entries, 0 to 7908820
Data columns (total 2 columns):
 #   Column        Dtype
---  ------        -----
 0   listing_id    int64
 1   booking_date  object
dtypes: int64(1), object(1)
memory usage: 120.7+ MB

## 03.2.3 'bnbrevs' dataframe

In [116]:
bnbrevs = bnbrevs.rename(columns = {'id' : 'rev_id', 
                          'date' : 'rev_date'})

In [117]:
bnbrevs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 684665 entries, 0 to 684664
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   listing_id  684665 non-null  int64
 1   rev_id      684665 non-null  int64
 2   rev_date    684665 non-null  object
dtypes: int64(2), object(1)
memory usage: 15.7+ MB

## 03.3 Changing Variable's Data Type.

## 03.3.1 'bnblist' dataframe.

#### Changing teh following variables' data types:

#### 'bedrooms' from float64 to Int64
#### 'price from object to Int64

#### bnblist['bedrooms'] = bnblist['bedrooms'].astype('Int64');
#### bnblist['price'] = bnblist['price'].astype('Int64')

#### This code was used to change both variables' data types to Int64.
#### In the 'bedrooms' variable case, it was possible to keep both Int64 values and  NaN values--see cell below.
#### The 'price' variable must be derived to contain only Int64 elements and take off the string elemts such as "$" sign.

In [134]:
bnblist['bedrooms'] = bnblist['bedrooms'].astype('Int64')

In [199]:
bnblist['price'] = bnblist['price'].astype('Int64')

ValueError: invalid literal for int() with base 10: '752.00'

#### For the 'price' variable, the '$' sign must be taken off of each one of its values.

In [138]:
# Removing with strip function '$' symbol from 'price' variable:

[x.strip('$') for x in bnblist.price]

['752.00',
 '4,056.00',
 '800.00',
 '18,000.00',
 '1,779.00',
 '650.00',
 '2,019.00',
 '850.00',
 '500.00',
 '971.00',
 '608.00',
 '444.00',
 '1,212.00',
 '1,918.00',
 '460.00',
 '1,000.00',
 '1,602.00',
 '1,111.00',
 '1,197.00',
 '1,602.00',
 '3,796.00',
 '608.00',
 '900.00',
 '1,010.00',
 '1,010.00',
 '1,379.00',
 '2,827.00',
 '3,837.00',
 '306.00',
 '1,503.00',
 '1,010.00',
 '2,827.00',
 '1,817.00',
 '2,142.00',
 '1,817.00',
 '2,200.00',
 '2,057.00',
 '1,600.00',
 '1,572.00',
 '446.00',
 '1,921.00',
 '1,200.00',
 '808.00',
 '1,385.00',
 '606.00',
 '375.00',
 '3,130.00',
 '524.00',
 '811.00',
 '1,486.00',
 '7,099.00',
 '3,352.00',
 '2,019.00',
 '900.00',
 '2,887.00',
 '284.00',
 '750.00',
 '1,253.00',
 '1,846.00',
 '788.00',
 '606.00',
 '608.00',
 '808.00',
 '1,716.00',
 '1,200.00',
 '450.00',
 '1,050.00',
 '1,318.00',
 '903.00',
 '1,582.00',
 '5,000.00',
 '277.00',
 '890.00',
 '450.00',
 '608.00',
 '505.00',
 '1,850.00',
 '348.00',
 '4,947.00',
 '629.00',
 '747.00',
 '426.00',
 '1,000.00',
 '900.00',
 '1,014.00',
 '2,554.00',
 '2,500.00',
 '699.00',
 '1,400.00',
 '303.00',
 '1,608.00',
 '1,300.00',
 '3,635.00',
 '2,250.00',
 '974.00',
 '3,413.00',
 '1,555.00',
 '500.00',
 '1,111.00',
 '608.00',
 '2,028.00',
 '350.00',
 '1,100.00',
 '380.00',
 '500.00',
 '1,615.00',
 '560.00',
 '532.00',
 '1,234.00',
 '426.00',
 '600.00',
 '420.00',
 '2,524.00',
 '1,272.00',
 '608.00',
 '2,827.00',
 '909.00',
 '13,500.00',
 '450.00',
 '724.00',
 '1,999.00',
 '700.00',
 '2,981.00',
 '980.00',
 '1,600.00',
 '305.00',
 '1,615.00',
 '1,115.00',
 '1,514.00',
 '1,636.00',
 '1,100.00',
 '666.00',
 '507.00',
 '1,514.00',
 '1,623.00',
 '811.00',
 '799.00',
 '1,062.00',
 '1,212.00',
 '721.00',
 '1,393.00',
 '749.00',
 '208.00',
 '1,143.00',
 '608.00',
 '1,629.00',
 '350.00',
 '3,776.00',
 '6,058.00',
 '2,900.00',
 '1,650.00',
 '1,200.00',
 '1,200.00',
 '550.00',
 '1,414.00',
 '507.00',
 '2,308.00',
 '3,903.00',
 '2,163.00',
 '1,292.00',
 '2,807.00',
 '1,212.00',
 '900.00',
 '2,527.00',
 '250.00',
 '2,625.00',
 '550.00',
 '1,341.00',
 '406.00',
 '1,514.00',
 '608.00',
 '4,644.00',
 '5,654.00',
 '1,918.00',
 '1,053.00',
 '2,200.00',
 '1,800.00',
 '1,018.00',
 '1,559.00',
 '1,362.00',
 '1,176.00',
 '2,028.00',
 '1,171.00',
 '250.00',
 '2,123.00',
 '650.00',
 '6,038.00',
 '1,000.00',
 '1,760.00',
 '700.00',
 '3,923.00',
 '588.00',
 '2,500.00',
 '639.00',
 '588.00',
 '450.00',
 '507.00',
 '1,292.00',
 '1,217.00',
 '920.00',
 '1,420.00',
 '350.00',
 '540.00',
 '2,106.00',
 '683.00',
 '417.00',
 '1,800.00',
 '220.00',
 '608.00',
 '710.00',
 '990.00',
 '2,019.00',
 '909.00',
 '2,827.00',
 '1,393.00',
 '246.00',
 '325.00',
 '1,111.00',
 '1,111.00',
 '3,225.00',
 '808.00',
 '913.00',
 '608.00',
 '500.00',
 '707.00',
 '927.00',
 '1,318.00',
 '650.00',
 '606.00',
 '700.00',
 '1,457.00',
 '900.00',
 '333.00',
 '810.00',
 '798.00',
 '2,250.00',
 '1,420.00',
 '2,019.00',
 '1,300.00',
 '1,300.00',
 '848.00',
 '2,827.00',
 '734.00',
 '344.00',
 '1,199.00',
 '1,615.00',
 '747.00',
 '1,318.00',
 '1,190.00',
 '939.00',
 '305.00',
 '727.00',
 '910.00',
 '565.00',
 '590.00',
 '4,039.00',
 '533.00',
 '1,212.00',
 '550.00',
 '300.00',
 '750.00',
 '811.00',
 '1,780.00',
 '505.00',
 '400.00',
 '989.00',
 '710.00',
 '1,313.00',
 '750.00',
 '1,705.00',
 '700.00',
 '1,800.00',
 '2,438.00',
 '1,298.00',
 '913.00',
 '1,615.00',
 '1,620.00',
 '880.00',
 '1,313.00',
 '1,067.00',
 '1,541.00',
 '2,120.00',
 '1,257.00',
 '2,101.00',
 '1,805.00',
 '1,229.00',
 '1,553.00',
 '1,217.00',
 '714.00',
 '287.00',
 '3,641.00',
 '1,514.00',
 '1,623.00',
 '600.00',
 '892.00',
 '1,431.00',
 '1,067.00',
 '428.00',
 '608.00',
 '2,500.00',
 '1,817.00',
 '2,255.00',
 '360.00',
 '1,241.00',
 '450.00',
 '1,402.00',
 '1,286.00',
 '5,028.00',
 '2,341.00',
 '507.00',
 '933.00',
 '350.00',
 '2,470.00',
 '476.00',
 '1,055.00',
 '873.00',
 '1,414.00',
 '420.00',
 '747.00',
 '2,507.00',
 '1,200.00',
 '747.00',
 '760.00',
 '1,434.00',
 '1,272.00',
 '888.00',
 '505.00',
 '2,100.00',
 '1,930.00',
 '800.00',
 '550.00',
 '1,010.00',
 '1,595.00',
 '1,281.00',
 '650.00',
 '2,500.00',
 '2,312.00',
 '2,028.00',
 '606.00',
 '456.00',
 '507.00',
 '913.00',
 '363.00',
 '315.00',
 '310.00',
 '2,008.00',
 '1,459.00',
 '1,373.00',
 '1,600.00',
 '2,161.00',
 '300.00',
 '1,623.00',
 '365.00',
 '202.00',
 '1,477.00',
 '1,111.00',
 '1,615.00',
 '950.00',
 '1,000.00',
 '313.00',
 '2,256.00',
 '2,322.00',
 '1,995.00',
 '1,414.00',
 '350.00',
 '1,313.00',
 '639.00',
 '1,527.00',
 '3,100.00',
 '2,706.00',
 '1,257.00',
 '3,000.00',
 '2,391.00',
 '606.00',
 '650.00',
 '909.00',
 '500.00',
 '550.00',
 '500.00',
 '1,500.00',
 '500.00',
 '750.00',
 '690.00',
 '897.00',
 '367.00',
 '799.00',
 '525.00',
 '655.00',
 '250.00',
 '3,854.00',
 '304.00',
 '2,434.00',
 '872.00',
 '1,070.00',
 '788.00',
 '800.00',
 '2,172.00',
 '1,449.00',
 '299.00',
 '327.00',
 '1,151.00',
 '1,700.00',
 '4,563.00',
 '580.00',
 '1,500.00',
 '293.00',
 '960.00',
 '1,054.00',
 '1,414.00',
 '710.00',
 '744.00',
 '1,624.00',
 '588.00',
 '360.00',
 '2,170.00',
 '863.00',
 '727.00',
 '986.00',
 '969.00',
 '1,014.00',
 '707.00',
 '2,028.00',
 '808.00',
 '6,058.00',
 '403.00',
 '1,521.00',
 '786.00',
 '500.00',
 '850.00',
 '729.00',
 '1,454.00',
 '750.00',
 '905.00',
 '608.00',
 '730.00',
 '4,111.00',
 '828.00',
 '400.00',
 '1,270.00',
 '600.00',
 '2,445.00',
 '1,217.00',
 '2,827.00',
 '1,050.00',
 '1,420.00',
 '406.00',
 '507.00',
 '464.00',
 '350.00',
 '560.00',
 '800.00',
 '255.00',
 '700.00',
 '273.00',
 '751.00',
 '800.00',
 '2,157.00',
 '2,839.00',
 '1,200.00',
 '350.00',
 '353.00',
 '950.00',
 '1,539.00',
 '1,212.00',
 '1,420.00',
 '537.00',
 '550.00',
 '485.00',
 '353.00',
 '607.00',
 '1,355.00',
 '5,334.00',
 '1,111.00',
 '499.00',
 '750.00',
 '390.00',
 '1,250.00',
 '1,055.00',
 '208.00',
 '290.00',
 '1,408.00',
 '800.00',
 '810.00',
 '1,539.00',
 '3,534.00',
 '466.00',
 '862.00',
 '600.00',
 '650.00',
 '608.00',
 '243.00',
 '1,024.00',
 '1,414.00',
 '2,322.00',
 '1,623.00',
 '487.00',
 '203.00',
 '563.00',
 '741.00',
 '691.00',
 '392.00',
 '325.00',
 '392.00',
 '527.00',
 '1,768.00',
 '900.00',
 '1,644.00',
 '641.00',
 '850.00',
 '550.00',
 '650.00',
 '700.00',
 '811.00',
 '435.00',
 '969.00',
 '1,757.00',
 '600.00',
 '200.00',
 '2,434.00',
 '200.00',
 '568.00',
 '533.00',
 '400.00',
 '666.00',
 '1,000.00',
 '300.00',
 '650.00',
 '1,600.00',
 '325.00',
 '450.00',
 '1,001.00',
 '670.00',
 '765.00',
 '1,656.00',
 '3,000.00',
 '588.00',
 '1,000.00',
 '780.00',
 '1,250.00',
 '325.00',
 '600.00',
 '442.00',
 '400.00',
 '1,460.00',
 '2,986.00',
 '1,333.00',
 '1,600.00',
 '678.00',
 '811.00',
 '594.00',
 '679.00',
 '1,629.00',
 '1,278.00',
 '1,000.00',
 '350.00',
 '707.00',
 '980.00',
 '1,606.00',
 '2,827.00',
 '1,079.00',
 '565.00',
 '1,313.00',
 '350.00',
 '403.00',
 '2,400.00',
 '300.00',
 '400.00',
 '287.00',
 '500.00',
 '1,200.00',
 '896.00',
 '710.00',
 '900.00',
 '707.00',
 '852.00',
 '533.00',
 '347.00',
 '1,724.00',
 '707.00',
 '250.00',
 '1,150.00',
 '1,373.00',
 '278.00',
 '1,509.00',
 '1,014.00',
 '980.00',
 '1,699.00',
 '250.00',
 '1,245.00',
 '500.00',
 '3,042.00',
 '709.00',
 '982.00',
 '1,514.00',
 '490.00',
 '560.00',
 '1,494.00',
 '591.00',
 '1,115.00',
 '1,947.00',
 '450.00',
 '808.00',
 '700.00',
 '817.00',
 '550.00',
 '1,318.00',
 '215.00',
 '450.00',
 '2,279.00',
 '350.00',
 '2,279.00',
 '2,423.00',
 '550.00',
 '1,027.00',
 '230.00',
 '2,854.00',
 '825.00',
 '710.00',
 '532.00',
 '710.00',
 '960.00',
 '1,278.00',
 '350.00',
 '880.00',
 '300.00',
 '990.00',
 '800.00',
 '536.00',
 '300.00',
 '776.00',
 '250.00',
 '1,994.00',
 '2,588.00',
 '500.00',
 '2,024.00',
 '1,414.00',
 '4,947.00',
 '916.00',
 '253.00',
 '700.00',
 '280.00',
 '2,625.00',
 '4,543.00',
 '1,150.00',
 '2,965.00',
 '250.00',
 '536.00',
 '1,664.00',
 '600.00',
 '560.00',
 '720.00',
 '1,197.00',
 '1,450.00',
 '890.00',
 '852.00',
 '1,033.00',
 '380.00',
 '1,360.00',
 '361.00',
 '1,000.00',
 '974.00',
 '600.00',
 '900.00',
 '31,386.00',
 '608.00',
 '450.00',
 '900.00',
 '350.00',
 '1,440.00',
 '457.00',
 '2,340.00',
 '1,168.00',
 '4,491.00',
 '395.00',
 '788.00',
 '1,996.00',
 '1,336.00',
 '252.00',
 '600.00',
 '3,200.00',
 '883.00',
 '4,897.00',
 '1,893.00',
 '1,724.00',
 '304.00',
 '850.00',
 '1,615.00',
 '280.00',
 '1,115.00',
 '1,327.00',
 '3,433.00',
 '205.00',
 '1,100.00',
 '498.00',
 '1,825.00',
 '287.00',
 '8,510.00',
 '1,197.00',
 '901.00',
 '1,521.00',
 '1,200.00',
 '810.00',
 '487.00',
 '300.00',
 '304.00',
 '1,724.00',
 '310.00',
 '404.00',
 '7,068.00',
 '230.00',
 '1,420.00',
 '997.00',
 '980.00',
 '2,423.00',
 '400.00',
 '980.00',
 '980.00',
 '9,999.00',
 '1,350.00',
 '2,562.00',
 '595.00',
 '1,500.00',
 '792.00',
 '343.00',
 '1,261.00',
 '1,023.00',
 '1,280.00',
 '1,800.00',
 '950.00',
 '1,623.00',
 '3,289.00',
 '200.00',
 '3,429.00',
 '428.00',
 '666.00',
 '1,010.00',
 '330.00',
 '484.00',
 '550.00',
 '1,359.00',
 '2,936.00',
 '950.00',
 '710.00',
 '1,309.00',
 '1,627.00',
 '1,189.00',
 '1,716.00',
 '390.00',
 '821.00',
 '1,171.00',
 '913.00',
 '1,111.00',
 '466.00',
 '7,906.00',
 '1,615.00',
 '1,498.00',
 '608.00',
 '599.00',
 '1,200.00',
 '750.00',
 '606.00',
 '243.00',
 '507.00',
 '446.00',
 '1,278.00',
 '1,514.00',
 '1,313.00',
 '900.00',
 '2,800.00',
 '1,298.00',
 '1,794.00',
 '929.00',
 '2,605.00',
 '1,200.00',
 '1,999.00',
 '6,058.00',
 '1,313.00',
 '848.00',
 '2,900.00',
 '200.00',
 '480.00',
 '8,200.00',
 '1,918.00',
 '1,414.00',
 '666.00',
 '2,383.00',
 '749.00',
 '250.00',
 '450.00',
 '250.00',
 '1,318.00',
 '460.00',
 '487.00',
 '1,700.00',
 '1,474.00',
 '563.00',
 '2,423.00',
 '281.00',
 '979.00',
 '1,200.00',
 '606.00',
 '1,724.00',
 '1,396.00',
 '1,724.00',
 '1,271.00',
 '632.00',
 '1,121.00',
 '850.00',
 '1,663.00',
 '3,029.00',
 '1,010.00',
 '1,212.00',
 '590.00',
 '921.00',
 '250.00',
 '10,096.00',
 '676.00',
 '810.00',
 '710.00',
 '900.00',
 '203.00',
 '1,300.00',
 '533.00',
 '1,014.00',
 '280.00',
 '1,892.00',
 '480.00',
 '350.00',
 '1,257.00',
 '1,693.00',
 '2,266.00',
 '1,500.00',
 '1,817.00',
 '1,485.00',
 '1,237.00',
 '954.00',
 '1,572.00',
 '532.00',
 '325.00',
 '1,220.00',
 '2,143.00',
 '1,050.00',
 '2,000.00',
 '340.00',
 '1,500.00',
 '220.00',
 '568.00',
 '299.00',
 '1,660.00',
 '2,625.00',
 '585.00',
 '350.00',
 '384.00',
 '1,204.00',
 '637.00',
 '850.00',
 '759.00',
 '800.00',
 '210.00',
 '1,190.00',
 '1,216.00',
 '614.00',
 '1,500.00',
 '507.00',
 '406.00',
 '700.00',
 '310.00',
 '950.00',
 '760.00',
 '1,150.00',
 '6,000.00',
 '799.00',
 '1,000.00',
 '252.00',
 '568.00',
 '548.00',
 '616.00',
 '1,500.00',
 '2,000.00',
 '534.00',
 '498.00',
 '260.00',
 '1,280.00',
 '800.00',
 '606.00',
 '710.00',
 '1,400.00',
 '1,000.00',
 '800.00',
 '2,709.00',
 '850.00',
 '1,339.00',
 '1,623.00',
 '1,440.00',
 '586.00',
 '440.00',
 '753.00',
 '365.00',
 '350.00',
 '450.00',
 '1,150.00',
 '1,278.00',
 '1,217.00',
 '1,150.00',
 '1,014.00',
 '1,006.00',
 '4,766.00',
 '511.00',
 '1,010.00',
 '608.00',
 '315.00',
 '1,075.00',
 '449.00',
 '497.00',
 '1,093.00',
 '850.00',
 '1,010.00',
 '953.00',
 '771.00',
 '736.00',
 '4,940.00',
 '700.00',
 '1,861.00',
 '1,500.00',
 '500.00',
 '2,309.00',
 '555.00',
 '325.00',
 '1,745.00',
 '250.00',
 '363.00',
 '480.00',
 '323.00',
 '415.00',
 '550.00',
 '2,000.00',
 '500.00',
 '300.00',
 '19,268.00',
 '306.00',
 '700.00',
 '800.00',
 '507.00',
 '1,144.00',
 '1,043.00',
 '420.00',
 '1,177.00',
 '1,411.00',
 '1,232.00',
 '286.00',
 '290.00',
 '450.00',
 '608.00',
 '720.00',
 '1,079.00',
 '331.00',
 '1,457.00',
 '4,491.00',
 '955.00',
 '406.00',
 '203.00',
 '407.00',
 '400.00',
 '300.00',
 '300.00',
 '400.00',
 '1,528.00',
 '608.00',
 '808.00',
 '1,161.00',
 '561.00',
 '4,500.00',
 '600.00',
 '20,193.00',
 '1,434.00',
 '4,341.00',
 '700.00',
 '313.00',
 '1,200.00',
 '500.00',
 '200.00',
 '2,120.00',
 '550.00',
 '606.00',
 '629.00',
 '1,128.00',
 '990.00',
 '2,604.00',
 '1,892.00',
 '1,112.00',
 '1,272.00',
 '650.00',
 '550.00',
 '1,275.00',
 '1,217.00',
 '250.00',
 '1,514.00',
 '1,820.00',
 '2,213.00',
 '811.00',
 ...]

In [140]:
# Applying changes to 'price' variable:

bnblist.price = [x.strip('$') for x in bnblist.price]

In [171]:
# Removing ',' (comma) from 'price' variable:

bnblist.price.apply(lambda x: x.replace(',', ''))

0          752.00
1         4056.00
2          800.00
3        18000.00
4         1779.00
           ...
21664      673.00
21665      897.00
21666      230.00
21667      690.00
21668     3228.00
Name: price, Length: 21669, dtype: object

In [172]:
# Applying changes to 'price' variable: 

bnblist.price = bnblist.price.apply(lambda x: x.replace(',', ''))

In [194]:
bnblist['price'].astype('float64')

0          752.0
1         4056.0
2          800.0
3        18000.0
4         1779.0
          ...
21664      673.0
21665      897.0
21666      230.0
21667      690.0
21668     3228.0
Name: price, Length: 21669, dtype: float64

In [203]:
# Converting 'price' variable from object to float to int:

bnblist['price'] = bnblist['price'].astype('float').astype('int')

In [204]:
bnblist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21669 entries, 0 to 21668
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   listing_id              21669 non-null  int64
 1   listing_url             21669 non-null  object
 2   host_id                 21669 non-null  int64
 3   host_url                21669 non-null  object
 4   host_name               21669 non-null  object
 5   host_since              21669 non-null  object
 6   acceptance_rate         19102 non-null  object
 7   superhost               21669 non-null  object
 8   host_listings_count     21669 non-null  int64
 9   host_identity_verified  21669 non-null  object
 10  latitude                21669 non-null  float64
 11  longitude               21669 non-null  float64
 12  room_type               21669 non-null  object
 13  accommodates            21669 non-null  int64
 14  bedrooms                21000 non-null  Int64
 15  price                   21669 non-null  int64
 16  min_nights              21669 non-null  int64
 17  max_nights              21669 non-null  int64
 18  has_availability        21669 non-null  object
 19  availability_365        21669 non-null  int64
 20  revs_num                21669 non-null  int64
 21  first_rev               17679 non-null  object
 22  last_rev                17679 non-null  object
 23  review_scores_rating    17679 non-null  float64
 24  reviews_per_month       17679 non-null  float64
dtypes: Int64(1), float64(4), int64(9), object(11)
memory usage: 4.2+ MB

In [209]:
bnblist.head()

,listing_id,listing_url,host_id,host_url,host_name,host_since,acceptance_rate,superhost,host_listings_count,host_identity_verified,...,price,min_nights,max_nights,has_availability,availability_365,revs_num,first_rev,last_rev,review_scores_rating,reviews_per_month
0,52390579,https://www.airbnb.com/rooms/52390579,424060909,https://www.airbnb.com/users/show/424060909,Maria Carmen Marta,2021-09-21,NaN,f,2,t,...,752,1,365,t,365,0,NaN,NaN,NaN,NaN
1,35797,https://www.airbnb.com/rooms/35797,153786,https://www.airbnb.com/users/show/153786,Dici,2010-06-28,NaN,f,2,t,...,4056,1,7,t,363,0,NaN,NaN,NaN,NaN
2,15511977,https://www.airbnb.com/rooms/15511977,93364273,https://www.airbnb.com/users/show/93364273,Abraham,2016-09-03,NaN,f,2,f,...,800,1,1125,t,179,1,2018-03-19,2018-03-19,5.00,0.02
3,44616,https://www.airbnb.com/rooms/44616,196253,https://www.airbnb.com/users/show/196253,Condesa Haus Bed & Breakfast CDMX,2010-08-09,66%,f,9,t,...,18000,1,365,t,347,56,2011-11-09,2022-06-05,4.59,0.43
4,34776449,https://www.airbnb.com/rooms/34776449,2954577,https://www.airbnb.com/users/show/2954577,Lazaro Alejandro,2012-07-16,100%,t,3,t,...,1779,1,30,t,222,5,2019-07-04,2022-03-14,5.00,0.14

## 03.3.2 'bnbcal' dataframe.

#### No changes needed.

## 03.3.3 'bnbrevs' dataframe.

#### No changes needed.

## 04 Data Consistency Checks

## 04.1 Mixed-Type Data

## 04.1.1 'bnblist' dataframe.

In [206]:
#Checking for mixed-type data in 'bnblist' dataframe:

for col in bnblist.columns.tolist():
  weird = (bnblist[[col]].applymap(type) != bnblist[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (bnblist[weird]) > 0:
    print (col)

acceptance_rate
bedrooms
first_rev
last_rev

#### Determine if the following variables must change their data type:

#### 1. 'bedrooms'
#### 2. 'acceptance_rate'
#### 3. 'first_rev'
#### 4. 'last_rev'

#### The 'price' variable was changed already*

In [221]:
bnblist['acceptance_rate'].value_counts(dropna = False)

100%    8994
NaN     2567
99%     1938
98%     1241
0%       827
        ...
19%        1
31%        1
37%        1
39%        1
30%        1
Name: acceptance_rate, Length: 88, dtype: int64

#### Change data type from string to integer.

In [245]:
# Removing '%' (percentage) from 'acceptance_rate' varaible:

bnblist['acceptance_rate'].str.rstrip('%')

0        NaN
1        NaN
2        NaN
3         66
4        100
        ...
21664    100
21665    100
21666    NaN
21667    100
21668    100
Name: acceptance_rate, Length: 21669, dtype: object

In [253]:
# Applying changes to 'acceptance_rate':

bnblist['acceptance_rate'] = bnblist['acceptance_rate'].str.rstrip('%')

In [254]:
bnblist['acceptance_rate'].value_counts()

100    8994
99     1938
98     1241
0       827
97      599
       ...
26        1
31        1
37        1
39        1
30        1
Name: acceptance_rate, Length: 87, dtype: int64

In [220]:
# Counting values in 'bedrooms' variable to identify anomalies

bnblist['bedrooms'].value_counts(dropna = False)

1       13382
2        5623
3        1462
<NA>      669
4         293
5          97
6          51
7          28
10         21
8           8
21          7
11          5
9           5
50          4
16          4
12          3
20          2
13          1
14          1
40          1
30          1
26          1
Name: bedrooms, dtype: Int64

#### Cahnge data type from struing to integer.

In [218]:
# Converting 'bedrooms' variable from string to Int64 to preserve NaN:

bnblist['bedrooms'] = bnblist['bedrooms'].astype('Int64')

In [214]:
# Counting values in 'first_rev' variable to identify anomalies

bnblist['first_rev'].value_counts()

2021-11-07    75
2021-10-31    61
2022-02-28    59
2022-05-15    56
2022-05-29    49
              ..
2017-05-26     1
2017-06-17     1
2017-08-17     1
2017-07-11     1
2012-03-07     1
Name: first_rev, Length: 2661, dtype: int64

#### The values within this variable represent dates, for which the data type will be left as is (string).

In [215]:
bnblist['last_rev'].value_counts()

2022-06-12    727
2022-06-05    545
2022-06-19    519
2022-05-29    518
2022-06-18    389
             ...
2019-08-21      1
2016-01-21      1
2018-07-26      1
2018-03-26      1
2017-11-01      1
Name: last_rev, Length: 1448, dtype: int64

#### The values within this variable represent dates, for which the data type will be left as is (string).

In [232]:
bnblist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21669 entries, 0 to 21668
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   listing_id              21669 non-null  int64
 1   listing_url             21669 non-null  object
 2   host_id                 21669 non-null  int64
 3   host_url                21669 non-null  object
 4   host_name               21669 non-null  object
 5   host_since              21669 non-null  object
 6   acceptance_rate         19102 non-null  object
 7   superhost               21669 non-null  object
 8   host_listings_count     21669 non-null  int64
 9   host_identity_verified  21669 non-null  object
 10  latitude                21669 non-null  float64
 11  longitude               21669 non-null  float64
 12  room_type               21669 non-null  object
 13  accommodates            21669 non-null  int64
 14  bedrooms                21000 non-null  Int64
 15  price                   21669 non-null  int64
 16  min_nights              21669 non-null  int64
 17  max_nights              21669 non-null  int64
 18  has_availability        21669 non-null  object
 19  availability_365        21669 non-null  int64
 20  revs_num                21669 non-null  int64
 21  first_rev               17679 non-null  object
 22  last_rev                17679 non-null  object
 23  review_scores_rating    17679 non-null  float64
 24  reviews_per_month       17679 non-null  float64
dtypes: Int64(1), float64(4), int64(9), object(11)
memory usage: 4.2+ MB

## 04.1.2 'bnbcal' dataframe.

In [129]:
#Checking for mixed-type data in 'bnbcal' dataframe:

for col in bnbcal.columns.tolist():
  weird = (bnbcal[[col]].applymap(type) != bnbcal[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (bnbcal[weird]) > 0:
    print (col)

#### No mixed-type data.

## 04.1.3 'bnbrevs' dataframe.

In [130]:
#Checking for mixed-type data in 'bnbrevs' dataframe:

for col in bnbrevs.columns.tolist():
  weird = (bnbrevs[[col]].applymap(type) != bnbrevs[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (bnbrevs[weird]) > 0:
    print (col)

#### No mixed-type data.

## 04.2 Finding and Addressing Missing Values.

## 04.2.1 'bnblist' dataframe.

In [131]:
# Checking for missing values in 'bnblist' dataframe.

bnblist.isnull().sum()

listing_id                   0
listing_url                  0
host_id                      0
host_url                     0
host_name                    0
host_since                   0
acceptance_rate           2567
superhost                    0
host_listings_count          0
host_identity_verified       0
latitude                     0
longitude                    0
room_type                    0
accommodates                 0
bedrooms                   669
price                        0
min_nights                   0
max_nights                   0
has_availability             0
availability_365             0
revs_num                     0
first_rev                 3990
last_rev                  3990
review_scores_rating      3990
reviews_per_month         3990
dtype: int64

In [133]:
bnblist.shape

(21669, 25)

#### The NaN values within these variables may provide with valuable infomration/insights (like non-active memebers) that need to be extracted after this exploratory stage finish, for which they'll be left as they are.

#### - The percentage of missins values within these varaibles are as follows:
#### - 'acceptance_rate', 11.84%
#### - 'bedrooms', 3.08%
####  -'first_rev', 18.41%
#### - 'last_rev', 18.41%
#### - 'review_scores_rating', 18.41%
#### - 'reviews_per_month', 18.41%

## 04.2.2 'bnbcal' dataframe.

In [259]:
# Checking for missing values in 'bnbcal' dataframe

bnbcal.isnull().sum()

listing_id      0
booking_date    0
dtype: int64

#### No missing values.

## 04.2.3 'bnbrevs' dataframe.

In [260]:
# Checking for missing values in 'bnbrevs' dataframe

bnbrevs.isnull().sum()

listing_id    0
rev_id        0
rev_date      0
dtype: int64

#### No missing values.

## 04.3 Finding and Addressing Missing Values.

## 04.3.1 'bnblist' dataframe.

In [261]:
# Identifying dups in 'bnblist' dataframe

bnblist[bnblist.duplicated()]

Empty DataFrame
Columns: [listing_id, listing_url, host_id, host_url, host_name, host_since, acceptance_rate, superhost, host_listings_count, host_identity_verified, latitude, longitude, room_type, accommodates, bedrooms, price, min_nights, max_nights, has_availability, availability_365, revs_num, first_rev, last_rev, review_scores_rating, reviews_per_month]
Index: []

[0 rows x 25 columns]

#### No dups.

## 04.3.2 'bnbcal' dataframe.

In [263]:
# identifying dups in 'bnbcal' dataframe

bnbcal[bnbcal.duplicated()]

Empty DataFrame
Columns: [listing_id, booking_date]
Index: []

#### No dups.

## 04.3.3 'bnbrevs' dataframe.

In [265]:
# Identifying dups in 'bnbrevs' dataframe. 

bnbrevs[bnbrevs.duplicated()]

Empty DataFrame
Columns: [listing_id, rev_id, rev_date]
Index: []

#### No dups.

## 05 Understanding Data.

## 05.1 Dataframes Statistical Description.

#### The statistical description of dataframes have been left at last so assessed data in quality and consistency checks was clean.

## 05.1.1 'bnblist' dataframe.

In [266]:
bnblist.describe()

,listing_id,host_id,host_listings_count,latitude,longitude,accommodates,bedrooms,price,min_nights,max_nights,availability_365,revs_num,review_scores_rating,reviews_per_month
count,2.166900e+04,2.166900e+04,21669.000000,21669.000000,21669.000000,21669.000000,21000.000000,21669.000000,21669.000000,21669.000000,21669.000000,21669.000000,17679.000000,17679.000000
mean,9.269405e+16,1.641558e+08,14.360653,19.401708,-99.169351,3.171351,1.531286,1450.455305,4.841294,654.744612,243.403157,31.596520,4.696913,1.586033
std,2.176659e+17,1.350001e+08,48.560694,0.045602,0.038149,2.159579,1.246309,8151.825195,26.813488,679.719564,122.786806,56.078378,0.596886,2.014909
min,3.579700e+04,7.365000e+03,0.000000,19.094680,-99.376110,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.010000
25%,2.767543e+07,4.721753e+07,1.000000,19.380370,-99.181460,2.000000,1.000000,500.000000,1.000000,99.000000,144.000000,1.000000,4.670000,0.360000
50%,4.231734e+07,1.284252e+08,2.000000,19.413180,-99.168670,2.000000,1.000000,879.000000,2.000000,365.000000,298.000000,10.000000,4.850000,1.000000
75%,5.220415e+07,2.598645e+08,7.000000,19.431360,-99.153970,4.000000,2.000000,1484.000000,3.000000,1125.000000,356.000000,35.000000,5.000000,2.210000
max,6.536537e+17,4.650761e+08,436.000000,19.603560,-98.925080,16.000000,50.000000,999998.000000,1125.000000,50000.000000,365.000000,820.000000,5.000000,52.580000

## 05.1.2 'bnbcal' dataframe.

In [267]:
bnbcal.describe()

         listing_id
count  7.908821e+06
mean   9.269832e+16
std    2.176650e+17
min    3.579700e+04
25%    2.767484e+07
50%    4.231602e+07
75%    5.220415e+07
max    6.536537e+17

## 05.1.3 'bnbrevs' dataframe.

In [268]:
bnbrevs.describe()

         listing_id        rev_id
count  6.846650e+05  6.846650e+05
mean   1.018708e+16  1.959598e+17
std    7.634059e+16  2.616032e+17
min    4.461600e+04  2.154140e+05
25%    1.794069e+07  4.214557e+08
50%    2.785765e+07  6.473525e+08
75%    4.051575e+07  4.942356e+17
max    6.507724e+17  6.544097e+17

## 06 Exporting Dataframes.

## 06.1 'bnblist' dataframe.

In [273]:
# Exporting 'bnblist' dataframe as pickle

bnblist.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', '02_Sep_2022', 'bnblist_020922'))

## 06.2 'bnbcal' dataframe.

In [275]:
# Exporting 'bnbcal' dataframe as pickle

bnbcal.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', '02_Sep_2022', 'bnbcal_020922'))

## 06.3 'bnbrevs' dataframe.

In [276]:
# Exporting 'bnbrevs' dataframe as pickle

bnbrevs.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', '02_Sep_2022', 'bnbrevs_020922'))